[submodule "DragSortListView"]
	path = DragSortListView
	url = https://github.com/daneren2005/drag-sort-listview.git
[submodule "ServerProxy"]
	path = ServerProxy
	url = https://github.com/daneren2005/ServerProxy.git
