[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "DragSortListView"]
	path = DragSortListView
	url = https://github.com/bauerca/drag-sort-listview.git
