*,h1,h2,h3,h4,h5,h6,p,div,body,html,ul,li,ol,img,a{margin:0;padding:0;}
body {
	width: 100%;
	margin: 0;
	padding: 0 0 20px 0;
    background: #fff url('../img/content-bg.gif') 0px 0px repeat-x;
	font-size: 0.8em;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
}
.clear { clear: both; }
.hide { display: none; }
p { margin: 0.2em 0 1em 0; }
hr { display: none; }
a img {
	border: none;
}
a {
	color: #4275bc;
	text-decoration: none;
}
a:hover {
	color: #060c36;
	text-decoration: underline;
}
.floatcontainer {
	overflow: hidden;
	width: 100%;
}
h1 {
	font-size: 18px;
	color: #060c36;
	font-weight: bold;
	padding: 0 0 6px 0;
}
h2 {
	font-size: 14px;
	color: #060c36;
	font-weight: bold;
	padding: 0 0 4px 0;
}
h2.div {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
h3 {
	font-size: 13px;
	color: #060c36;
	font-weight: bold;
	padding: 0 0 2px 0;
}
h4 {
	font-size: 11px;
	color: #060c36;
	font-weight: normal;
	text-transform: uppercase;
}
/* ---------- List Items ---------- */
html>body #content ul.list {
	list-style: none;
	text-indent: -1em;
}
#content ul {
	margin: 0 0 1em 0;
	padding: 0 0 0 1em;
}
#content ul.list li {
	padding: 4px 0 4px 0;
	margin: 0 0 0 0.25em;
}
#content ul.list li:before {	/* Show right angle quotes to cool browsers */
	content: "\00BB \0020";
}
ol {
	margin: 0 0 .8em 1em;
	padding-left: 2em;
}
#content ol li {
	margin-bottom: 1.6em;
}
#content ul.stars {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#content ul.stars li {
	background: url('../img/star.png') 0px 0px no-repeat;
	padding: 0 10px 8px 20px;
	margin: 0px;
	list-style: none;
}
#content ul.stars li:before {
	content: "";
}
#container {
	width: 900px;
	margin: 0 auto;
	padding-top: 106px;
	position: relative;
}
#logo {
	position: absolute;
	left: -40px;
	top: 0;
	z-index: 99;
}
#content {
	width: 898px;
	background: #fff url('../img/content-bg.gif') 0px 0px repeat-x;
    border: 1px solid #cbcedc;
	line-height: 1.4em;
}
#main-col {
	width: 600px;
	padding: 15px 20px 15px 20px;
	float: left;
}
#side-col {
	margin: 20px 0 0 0;
	width: 240px;
	float: left;
}
#side-col .sidebox {
	margin: 0 0 20px 0;
	padding: 10px;
	border: 1px solid #cbcedc;
	background-color: #e6e7ee;
}
#wide-col {
	padding: 15px 20px 15px 20px;
}
/* ---------- Nav ----------- */
#nav {
	background: url('../img/topnav.gif') top left no-repeat;
	height: 39px;
	width: 900px;
	position: relative;
	overflow: hidden;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style-image: none;
	list-style: none;
}
#nav li {
	margin: 0;
	padding: 0;
	float: left;
}
#nav li a {
	background: url('../img/topnav-hover.gif') 0px 99px repeat-x;
	height: 39px;
	color: #7281b3;
	text-decoration: none;
	display: block;
	font-size: 14px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}
#nav li a span {
	display: block;
	float: left;
	padding: 12px 11px 12px 11px; /* Change for narrower menu items. */
	background: url('../img/topnav-div.gif') right 1px no-repeat;
}
#nav li a:hover, #nav li a.active {
	background: url('../img/topnav-hover.gif') 0px 1px repeat-x;
	color: #a9b3d6;
}
#nav li#menu-home a:hover, #nav li#menu-home a.active {
	background: url('../img/home-rollover.gif') 1px 1px no-repeat;
	color: #a9b3d6;
}
/* ---------- Menu Visibility ---------- */
#nav li a.open {
	background: url('../img/topnav-hover.gif') 0px -49px repeat-x !important;
	color: #ffffff !important;
}
#nav li#menu-home a.open {
	background: url('../img/home-rollover.gif') 1px -49px no-repeat !important;
	color: #ffffff !important;
}
/* ---------- Footer ----------- */
#footer {
	width: 900px;
	background: url('../img/footer.gif') bottom left no-repeat;
	border-top: 1px solid #383d5e;
	color: #7281B3;
	font-size: 11px;
}
#footer .footercontent {
	padding: 10px;
}
#footer a {
	text-decoration: none;
	color: #9ea9ce;
}
#footer a:hover {
	color: #fff;
}
/* ---------- Content Formatting ---------- */
.column-left {
	float: left;
	width: 50%;
}
.column-right {
	float: right;
	width: 50%;
}
ul.column-right, ul.column-left {
	margin: 0;
	padding: 0;
}
/* ---------- Feature Table ----------- */
tr.table-heading {
	background: url('../img/header.gif') 0px 0px no-repeat;
	color: #fff;
	font-weight: bold;
	line-height: normal;
}
tr.table-heading th {
	padding: 6px 10px 6px 10px;
}
th.featurename {
	text-align: left !important;
}
tr.table-altrow {
	background: #f1f2f8;
}
table.featuretable td {
	padding: 6px 10px 6px 10px;
	text-align: center;
}
table.featuretable th a{
    color: #cccccc;
}
table.featuretable {
	padding: 6px 4px;
}
table.featuretable td.meta {
	padding: 0px;
}
td.featurename {
	text-align: left !important;
    width: 50%;
}
.important {
	color: #911;
	font-weight: bold;
}

/* ---------- Transcoding Table ----------- */
th.transcoding-heading {
    text-align: left !important;
    padding-right:2em;
}
td.transcoding {
    white-space:nowrap;
    padding-right:2em;
}

/* ---------- API Parameter Table ----------- */
th.param-heading {
    font-size:11px;
}

/* ---------- Feature Detail ----------- */
.featureitem {
	background: #f1f2f8;
	margin-bottom: 20px;
}
.featureitem .heading {
	background: url('../img/header.gif') 0px 0px no-repeat;
	color: #fff;
	font-weight: bold;
	padding: 6px 10px 6px 10px;
	position: relative;
}
.featureitem .content {
	overflow: hidden;
	width: 100%;
	background: url('../img/itemcontentborder.gif') top left repeat-y;
	border-bottom: 1px solid #CBCEDC;
}
.featureitem .content .description {
	margin-right: 190px;
	padding: 10px 0 10px 10px;
}
.featureitem .content .wide-description {
	padding: 10px;
}
.featureitem .content .wide-content {
	padding: 10px;
}
.featureitem .content .screenshot {
	float: right;
	padding: 10px 10px 10px 0px;
}

.margin10-t { margin-top: 10px; }
.margin10-r { margin-right: 10px; }
.margin10-b { margin-bottom: 10px; }
.margin10-l { margin-left: 10px; }

.margin20-t { margin-top: 20px; }
.margin20-r { margin-right: 20px; }
.margin20-b { margin-bottom: 20px; }
.margin20-l { margin-left: 20px; }

/* ---------- Search form ---------- */
#search {
	position: absolute;
	top: 55px;
	right: 0;
}

/* ---------- Content ---------- */
.bugid, code, pre, td.transcoding {
	font: 13px "Bitstream Vera Sans Mono", 'Courier New', Courier, Fixed, monospace;
}
.bugid { color: #09f; }
code, pre { color: #093; }
.bottomspace {
	margin-bottom: 20px;
}
.backtotop {
	position: absolute;
	top: 8px;
	right: 8px;
}
.img-right {
	float: right;
	margin-left: 10px;
}
.img-left {
	float: left;
	margin-right: 10px;
}
.img-center {
    display:block;
    margin-left:auto;
    margin-right:auto;
}