/*
 * CSS styleshet for the "Barents Sea" theme.
 *
 * Author: Sindre Mehus
 */

@import "hd.css";

body {
    margin:0.75em;
    font-size: 9pt;
}

.detail, .albumComment, .log {
    font-size: 8pt;
}

/* Font 1 */
body, h2, form, label, table, a {
    font-family: verdana, arial, sans-serif;
}

/* Font 2 */
h1, h1 a, input, select {
    font-family: arial, sans-serif;
}

h1, h2, th {
    font-weight:bold;
}
