/*
 * CSS styleshet for the "Back In Black" theme.
 *
 * Author: Sindre Mehus
 */

@import "midnight.css";

/* The primary background color. */
.bgcolor1 {
    background-color: #333333
}

/* The secondary background color. */
.bgcolor2, .ruleTableHeader, .log  {
    background-color: black
}
