/*
 * CSS styleshet for the "High Tech" theme.
 *
 * Author: Jeebs (Fisher Evans)
 */

@import "default.css";

table {
	color: #d2f1d5;
}

/* The primary background color. */
.bgcolor1 {
    background-color: #090a09;
}

/* The secondary background color. */
.bgcolor2, .ruleTableHeader, .log {
    background-color: #090a09;
}

body.bgcolor2 {
    border-bottom: 1px solid #272727;
}

.bgcolor2 {
	background-image:url(../icons/hitech/bg.jpg);
}

/* Background color for selected header, log etc. */
.headerSelected {
    color: #d2f1d5;
    background-color: #090a09;
}

/* The primary foreground color. */
body {
    color: #d2f1d5;
}

/* The secondary foreground color used for h1, details etc. */
h1, .detail, .albumComment {
    color: #d2f1d5;
}

/* Foreground color used for h2, bold and tr. */
h2, b, tr {
    color: #d2f1d5;
}

/* Link color */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #00d61b
}

/* Link hover color */
a:hover, a:hover * {
    text-decoration: underline;
    color: #ffffff;
}

/* Color for warning messages. */
.warning {
    color: white;
}

/* Simple border. */
.border1, .ruleTableHeader, .ruleTableCell, .headerSelected, .log {
    border: 1px solid #272727;
}

/* Scrollbar colors (supported on IE and Opera) */
body {
    scrollbar-face-color: #253126;
    scrollbar-highlight-color: #00c52c;
    scrollbar-shadow-color: #253126;
    scrollbar-3dlight-color: #253126;
    scrollbar-arrow-color: #00c52c;
    scrollbar-track-color: #00c52c;
    scrollbar-darkshadow-color: #00c52c;
}

.back {
    background-image:url("../icons/midnight/back.png");background-position: 0px 3px; background-repeat:no-repeat; padding-left: 16px; line-height: 16px;
}
.forward {
    background-image:url("../icons/midnight/forward.png");background-position: 0px 3px; background-repeat:no-repeat; padding-left: 16px; line-height: 16px;
}

.mainframe {
    background-image:url( "../icons/hitech/bg2.jpg" );
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:bottom right;
}